@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}


:root{
    --colorAmarillo: hsl(47, 80%, 63%) ;
    --colorWhite: hsl(0, 0%, 100%) ;
    --colorGray500: hsl(0, 0%, 42%) ;
    --colorGray950: hsl(0, 0%, 7%) ;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;   
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--colorAmarillo);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 2px;
    border-radius: 20px;
    background-color: var(--colorWhite);
    padding: 25px;
    border: 2px solid;
    width: 400px;
}

.container-img{
    width: 100%;
    border-radius: 20px;
}

.container-description h2{
    width:fit-content;
    background-color: var(--colorAmarillo);
    font-size: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
}

.container-description span{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.container-description h1{
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-description h1:hover{
    color: var(--colorAmarillo);
    cursor:pointer;
}

.container-description p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-usuario{
    display: flex;
    justify-content: left;
    align-items: center;
}

.info-usuario img{
    margin-right: 20px;
    width: 40px;
}

.info-usuario{
    font-weight: bolder;
}

@media (max-width:375px) {
    
    .container{
        width: 250px;
        margin: auto;
    }

}